<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">Operations on numbers </h2>
			<br/>
		</div>
	</div>


	<form (ngSubmit)="onSubmit2()" #operationsonNumbersRequestForm="ngForm" class="form-inline">
		<div class="row">
			<fieldset class="form-group col-lg-6">
				<label for="numberText1" class="form-control-label col-lg-3">Number 1</label>
				<input type="text" class="form-control col-lg-9 " name="numberText1" #numberText1="ngModel" [(ngModel)]="model.numberText1" placeholder="1.2"
				/>
			</fieldset>

		</div>
		<div class="row">
			<fieldset class="form-group col-lg-6">
				<label for="numberText2" class="form-control-label col-lg-3">Number2</label>
				<input type="text" class="form-control  col-lg-9" name="numberText2" #numberText2="ngModel" [(ngModel)]="model.numberText2" placeholder="3.5"
				/>
			</fieldset>
		</div>

		<div class="row">	
			<fieldset class="form-group col-lg-6">
				<button type="button" class="btn btn-secondary btn-sm" (click)="defaultForm()" style="float: right;">Reset</button>
				<button type="button" class="btn btn-primary btn-sm" (click)="divide()" style="float: right;">Divide</button>
				<button type="button" class="btn btn-primary btn-sm" (click)="multiply()" style="float: right;">Multiply</button>
				<button type="button" class="btn btn-primary btn-sm" (click)="subtract()" style="float: right;">Subtract</button>
				<button type="button" class="btn btn-primary btn-sm" (click)="add()" style="float: right;">Add</button>

			</fieldset>
		</div>
		<div class="row">	
			<fieldset class="form-group col-lg-6">
				<button type="button" class="btn btn-secondary btn-sm" (click)="invokeException()" style="float: right;">Exception in server</button>
				<button type="button" class="btn btn-secondary btn-sm" (click)="invokeInvalidUrl()" style="float: right;">Invalid Url</button>
			</fieldset>

			
		</div>

</form>
</div>


<numbers-result-list [resultList]="resultList"></numbers-result-list>